<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511589229811-0o3p6t9pbpgrgofm5qe4l8mr680j9b86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511589229811-0o3p6t9pbpgrgofm5qe4l8mr680j9b86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511589229811-0ukpfaibpp2o3dg69dbb1im7ao4bge1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ9B_jnmkYC-HmcNAPZ8OxeiRsltBTof4</string>
	<key>GCM_SENDER_ID</key>
	<string>511589229811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.jeras</string>
	<key>PROJECT_ID</key>
	<string>app-jeras</string>
	<key>STORAGE_BUCKET</key>
	<string>app-jeras.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511589229811:ios:39f3096a32e73c3b9dc386</string>
	<key>DATABASE_URL</key>
	<string>https://app-jeras-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>